# Assignment 4 - Data Science in Finance and Insurance
Submission by: Dennis Goldenberg

In [6]:
#Import Statements
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

## Read in Data, Set up Neighbors

In [5]:
rawData = pd.read_csv("data.csv")
rawData.head(3)

          x          y
0  0.557820   18.63654
1  2.021727  103.49646
2  2.577325  150.35391